@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.TopEnd" />
<HxMessageBoxHost />
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>