@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.TopEnd" />
<HxMessageBoxHost />
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<footer class="link-infot">
    Github : <a href="https://github.com/Itoktsnhc/stat.itok">stat.itok</a>, @(DateTime.Today.Year)
</footer>
